
  .bg-btn{
    color: gray;
  }
  
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }
.d-flex > #test
{
  width: 400px; 
  
}

.logo{
  margin-top: -10px;
  margin-left: 50px;
  width: 200px;
  height: 200px;
  
}
.wallpaper
{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:
    linear-gradient(to bottom, rgba(170,171,36,1), rgba(117, 19, 93, 0.73)),
    url('../../src/assets/theWine.jpg');
}






